# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
*.iml

# IDE
.idea/
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Application
application-local.properties
